body{
	
	background: url("../img/fondo.jpg");
	background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center; 
background-size: 100%;

}

#tituloimg{
	width: 55%;
	margin-left: 16%;
	height: 5em;
}
#cuerpo{
	margin-top: 3em;
}
#turno{
	display: inline-block;
	width: 40%;
	margin-left: 5%;
	height: 22em;
	vertical-align: top;
}
#rep{
	display: inline-block;
	margin-left: 5%;
	height: 22em;
	width: 42%;
	vertical-align: top;
}
#video{
	margin-left: 10%;
	height: 20em;

}
footer{
	margin-top: 5em;
}
#logo{
display: inline-block;
margin-left: 5%;
vertical-align: top;

}
#logoimg{
	width: 4em;
height: 4em;


}
#mar{
	vertical-align: top;
display: inline-block;
width: 60%;
margin-left: 5%;
border: 0.2em solid blue;
text-align: center;

}
#date{
	vertical-align: top;
display: inline-block;
margin-left: 5%;
padding-left: 3em;
width: 10%;
height: 3.5em;

}
#iframe{
	width: 100%;
	height: 100%;
}
#iframeturno{
	width: 100%;
	height: 100%;
}